{%load static%}
<style>
        body {
          background-image: url('{%static 'img/img.png'%}');
        }
        button {
            font-size: 26px;
            border: 2px solid #333333;
            border-radius: 15px;
            box-shadow: none;
            border-radius: 15px;
            height: 60px;
            justify-content: center;
            align-items: center;
        }

        button:hover {
            background-color: #333333;
            border: 2px solid #000;
            color: white;
            transition: all 0.5s ease-in;
        }
    </style>