{% if i.Type.Type1 == 'bug'%}
    <div class="type POKEMON_TYPE_BUG">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'grass'%}
    <div class="type POKEMON_TYPE_GRASS">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'poison'%}
    <div class="type POKEMON_TYPE_POISON">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'normal'%}
    <div class="type POKEMON_TYPE_NORMAL">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'fighting'%}
    <div class="type POKEMON_TYPE_FIGHTING">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'flying'%}
    <div class="type POKEMON_TYPE_FLYING">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'ground'%}
    <div class="type POKEMON_TYPE_GROUND">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'rock'%}
    <div class="type POKEMON_TYPE_ROCK">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'ghost'%}
    <div class="type POKEMON_TYPE_GHOST">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'steel'%}
    <div class="type POKEMON_TYPE_STEEL">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'fire'%}
    <div class="type POKEMON_TYPE_FIRE">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'water'%}
    <div class="type POKEMON_TYPE_WATER">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'electric'%}
    <div class="type POKEMON_TYPE_ELECTRIC">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'psychic'%}
    <div class="type POKEMON_TYPE_PSYCHIC">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'ice'%}
    <div class="type POKEMON_TYPE_ICE">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'dragon'%}
    <div class="type POKEMON_TYPE_DRAGON">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'dark'%}
    <div class="type POKEMON_TYPE_DARK">{{i.Type.Type1}}</div>
{% elif i.Type.Type1 == 'fairy'%}
    <div class="type POKEMON_TYPE_FAIRY">{{i.Type.Type1}}</div>
{%endif%}
{% if i.Type.Type2 == 'bug'%}
    <div class="type POKEMON_TYPE_BUG">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'grass'%}
    <div class="type POKEMON_TYPE_GRASS">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'poison'%}
    <div class="type POKEMON_TYPE_POISON">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'normal'%}
    <div class="type POKEMON_TYPE_NORMAL">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'fighting'%}
    <div class="type POKEMON_TYPE_FIGHTING">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'flying'%}
    <div class="type POKEMON_TYPE_FLYING">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'ground'%}
    <div class="type POKEMON_TYPE_GROUND">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'rock'%}
    <div class="type POKEMON_TYPE_ROCK">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'ghost'%}
    <div class="type POKEMON_TYPE_GHOST">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'steel'%}
    <div class="type POKEMON_TYPE_STEEL">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'fire'%}
    <div class="type POKEMON_TYPE_FIRE">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'water'%}
    <div class="type POKEMON_TYPE_WATER">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'eleCtric'%}
    <div class="type POKEMON_TYPE_ELECTRIC">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'psychic'%}
    <div class="type POKEMON_TYPE_PSYCHIC">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'ice'%}
    <div class="type POKEMON_TYPE_ICE">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'dragon'%}
    <div class="type POKEMON_TYPE_DRAGON">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'dark'%}
    <div class="type POKEMON_TYPE_DARK">{{i.Type.Type2}}</div>
{% elif i.Type.Type2 == 'fairy'%}
    <div class="type POKEMON_TYPE_FAIRY">{{i.Type.Type2}}</div>
{%endif%}