{%extends 'template.html'%}
{% load static %}

{%block 'pokemon'%}
{% for i in Pokemon%}
         <div id="container">
            <div class="container-top">
                <div>
                    <a href="{% url 'pokemon' pokemon_id=i.id%}"><img src="{{i.Sprite.official_artwork}}" width="380px" height="321px"></a>
                </div>
            </div>
        </div>
        <div>
            <div id = 'container2' class="container-bottom">
                <div class="item1">
                    <a href="{% url 'pokemon' pokemon_id=i.id%}"><button>#{{i.id}} {{i.name | capfirst}}</button></a>
                </div>
                {%include 'partials/_type.html'%}

            </div>
        </div>
{%endfor%}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {%for pagina in Pokemon.paginator.page_range%}
                {%if Pokemon.number == pagina%}
                    <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
                {%else%}
                    <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
                {%endif%}
              {%endfor%}
          </ul>
        </nav>
{%endblock%}